.welcome {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 24px;
}
.forgotPassword,
.signUp {
  width: 100%;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
  display: block;
  text-align: center;

  &:hover {
    text-decoration: underline;
  }
}

.forgotPassword {
  text-align: end;

  a {
    color: #fff;
    font-size: 12px;
  }
}

.submitButton {
  margin-top: 20px;
}

.form {
  width: 380px;
  padding: 24px 40px;
  box-shadow: 0px 3px 10px #ffffff17;
  border-radius: 40px;
  background-color: #008664;
}

.signin__auth2 {
  p {
    color: #fff;
    text-align: center;
    margin: 12px 0;
  }
  &-buttons {
    display: flex;
    gap: 10px;
  }
}

@media screen and (max-width: 775px) {
  .form {
    width: 90%;
    padding: 24px;
  }
}
